<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>App Fragments</title>
</head>
<body>
     
     
    <!-- Default Navigator -->
     
    <ul th:fragment = "nav-default">
        <li><a th:href="@{/users/management}">User Management</a></li>
        <br><br>
        <li><a th:href="@{/events/management}">Event Management</a></li>
         <br><br>
        <li><a th:href="@{/events/}">User View</a></li>

    </ul>
     
    <!-- Admin Navigator -->
     
    <ul th:fragment = "nav-user">

    </ul>
     
     
     
  
     
     
 
</body>
</html>