<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Add New Event</title>
</head>
<body>
<div id="about-header" style="background-color: #666;padding: 5px;text-align: center;font-size: 35px;color: white;">
     
        
        NGO
        
        <div style="float:right" >
                    
                
        </div>
    </div>
	<div align="center">
		<h1>Add New Event</h1>
		<br />
		<form action="#" th:action="@{/saveEvent}" th:object="${event}"
			method="post" enctype="multipart/form-data">

			<table border="0" cellpadding="10">
				<tr>
					<td>Event:</td>
					<td><input type="text" th:field="*{eventName}" required /></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td>Category :</td>
					<td><select name="category"  th:field="*{category}" required>
					<option value="Presentation">Presentation</option>
					<option value="Social">Social</option>
					<option value="Religious">Religious</option>
					</select> </td>
				</tr>	
				<tr>
					<td>Start Date :</td>
					<td><input type="date" th:field="*{startDate}" required /></td>
				</tr>
				<tr>
					<td>End Date:</td>
					<td><input type="date" th:field="*{endDate}" required/></td>
				</tr>	 				
	
				<tr>
					<td>Start Time :</td>
					<td><input type="time" th:field="*{starttime}" required/></td>
				</tr>	
				<tr>
					<td>End Time :</td>
					<td><input type="time" th:field="*{endtime}" required/></td>
				</tr>
				<tr>
					<td>File to upload:
					</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td>Location :</td>
					<td><input type="text" th:field="*{location}" required /></td>
				</tr>	
				<tr>
				<td>Registration allowed :</td>
				 <td>
				 <INPUT type="radio" name="registration" value="True" th:field="*{allowRegistration}"> True
    				 <INPUT type="radio" name="registration" value="False" th:field="*{allowRegistration}"> False
    				 </td>
    			</tr>			
				<tr>
					<td>Adult Ticket Price $:</td>
					<td><input type="number" th:field="*{adultTicketPrice}" min=0 required/></td>
				</tr>
				<tr>
					<td>Child Ticket Price $:</td>
					<td><input type="number" th:field="*{childTicketPrice}" min=0 required/></td>
				</tr>
				<tr>
					<td><button type="submit">Save</button> </td>
					<td><button type="reset">Cancel</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>
