<!DOCTYPE html>
 
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(  
                                                ~{::title},
                                                ~{:: #about-static-resources},
                                                ~{:: #about-header},
                                                ~{:: #about-nav},
                                                ~{:: #about-main-content},  
                                                ~{:: #about-footer}
                                               )}">
                                                
<head>
    <title>NGO</title>
     
    <th:block id="about-static-resources">
       
       
    </th:block>
     
</head>
<body>
 
    <div id="about-header">
     <div style="float:left">
         <span sec:authentication="name">te</span>
      </div>
        NGO
             
                <div style="float:right" >
                    
                
               <form th:action="@{/logout}" method="post">
	            <input type="submit" value="Sign Out"/>
	        </form>
        </div>
    </div>
     
    <div id="about-nav" th:replace="~{/fragment/app-fragments :: nav-default}">
         Nav
    </div>
 
    <div id="about-main-content">
<h1>User Management</h1>
    <a  th:href="@{'/users/add'}" >Add User</a>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>                     </th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${listUsers}">
            	<td th:text="${user.firstname}">First Name</td>
                <td th:text="${user.lastname}">Last Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.role}">role</td>
                
                <td>
                	<a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
           
                </td>
            </tr>
        </tbody>
    </table>
    </div>
     
     
 
     
     
</body>
</html>




